<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTRO</h1>

    <form action="/validar" method="post">
        Carrera:
        <input type="text" name="career" id="career"><br><br>
        Nombre y Apellido:
        <input type="text" name="nom" id="nom"><br><br>
        Dni:
        <input type="number" name="dni" id="dni"><br><br>
        Fecha de Nacimiento:
        <input type="date" name="fecha" id="fecha"><br><br>
        Correo:
        <input type="email" name="correo" id="correo"><br><br>
        Contraseña:
        <input type="password" name="pass" id="pass"><br><br>

        <input type="submit" value="Enviar" >
    </form>
</body>
</html>